.product-list {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(33.33% - 16px);
    padding: 10px;
    text-align: center;
}

.price {
    font-size: 25px;
    font-weight: 400;
}

.desc {
    font-size: 20px;
    font-weight: 350;
}
